.troubleshooting-manager-articles {
	&__article-list {

		&-title {
			font-size: 18px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			counter-reset: list;

			li {
				margin-bottom: 20px;

				a {
					position: relative;
					display: flex;
					align-items: flex-start;
					padding: 11px 16px 11px 20px;
					font-weight: 500;
					font-size: 18px;
					line-height: 27px;
					color: #5C6B79;
					background-color: #fff;
					box-shadow: 0 2px 4px rgba(22, 43, 64, 0.1);

					.read-now-text {
						margin-left: auto;
						font-weight: bold;
						font-size: 16px;
						line-height: 26px;
						color: #617BE5;
						white-space: nowrap;
						transition: all .15s;
						opacity: 0;
					}

					.read-now-icon {
						&:before {
							content: '';
							margin-left: 5px;
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.125 12.5273L7.90234 6.75L2.125 0.972656L0.0976562 3L3.84766 6.75L0.0976562 10.5L2.125 12.5273Z' fill='%23D0D5D9'/%3E%3C/svg%3E");
							background-position: center center;
							background-repeat: no-repeat;
							display: inline-block;
							transition: all .15s;
							width: 12px;
							height: 12px;
						}
					}

					&:hover {
						color: #162B40;
						box-shadow: 0 14px 14px rgba(22, 43, 64, 0.12);
						.read-now-text {
							opacity: 1;
							transition: all .25s;
						}
						.read-now-icon:before {
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.125 12.5273L7.90234 6.75L2.125 0.972656L0.0976562 3L3.84766 6.75L0.0976562 10.5L2.125 12.5273Z' fill='%23617BE5'/%3E%3C/svg%3E");
							transition: all .25s;
						}
					}

					&:before {
						content: counter(list) ". ";
						counter-increment: list;
						color: #34D7A1;
						margin-right: 4px;
					}
				}
			}
		}
	}
}
