.troubleshooting-manager-cats {

	&__title {
		color: #162B40;

		.troubleshooting-manager-cats--single & {
			margin: 0 0 20px;
			font-size: 30px;
			line-height: 42px;
			font-weight: 700;
			@media (max-width: 425px) {
				font-size: 18px;
				line-height: 28px;
				margin: 0 0 10px;
			}
		}

		.troubleshooting-manager-cats--archive & {
			margin: 0 0 10px;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
		}
	}

	&__child-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		list-style: none;

		.troubleshooting-manager-cats--single & {
			font-size: 18px;
			line-height: 32px;
			font-weight: 500;
			@media (max-width: 425px) {
				font-size: 14px;
			}
		}

		.troubleshooting-manager-cats--archive & {
			font-size: 16px;
			line-height: 28px;
			font-weight: 400;
			padding-left: 0;
		}
	}
	&__child-item {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 10px;
		.troubleshooting-manager-cats--archive & {
			& + .troubleshooting-manager-cats__child-item {
				margin-top: 1px;
			}
		}
	}

	&__child-link {
		position: relative;
		color: #617BE5;

		.troubleshooting-manager-cats--single & {
			display: inline-block;
			padding-left: 15px;

			&:hover {
				color: #34D7A1;
			}
		}

		.troubleshooting-manager-cats--archive & {
			display: block;
			padding-left: 13px;
			padding-right: 20px;

			&:before {
				left: 20px;
			}

			&:hover,
			&.current-category {
				color: #fff;
				background-color: #34D7A1 ;
				&:before {
					transition: all .25s;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.726624 7.06L3.77996 4L0.726624 0.94L1.66662 0L5.66662 4L1.66662 8L0.726624 7.06Z' fill='white'/%3E%3C/svg%3E");
				}
			}
		}

		&:before {
			content: '';
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.726624 7.06L3.77996 4L0.726624 0.94L1.66662 0L5.66662 4L1.66662 8L0.726624 7.06Z' fill='%23617BE5'/%3E%3C/svg%3E");
			width: 5px;
			height: 8px;
			display: inline-block;
			margin: 0 10px 0 0;
			transition: all .15s;
		}
	}
}