$text-color: #556474;
$heading-color: #162B40;
$accent-color: #34D7A1;
$accent-color2: #617BE5;

.troubleshooting-manager__single-article {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $text-color;

	* {
		margin: 0;
		padding: 0;
	}

	&-inner {
		display: flex;
		flex-flow: row nowrap;
	}

	&-container {
		width: 67%;
		flex: 1 1 auto;
		padding: 36px 68px 30px 0;
	}

	&-sidebar-wrap {
		width: 33%;
		background-color: #F9FAFB;

		.ts-manager-sidebar-title {
			padding-top: 103px;
		}
		.troubleshooting-manager-related-articles {
			&__item {
				display: flex;
				flex-direction: row;
				margin-bottom: 12px;
				background: none;
				&.current {
					display: none;
				}
				&:hover {}
			}
			&__link {
				color: #5C6B79;
				font-size: 16px;
				line-height: 24px;
			}
			&__icon {
				margin: 3px 10px 0 0;
				&:before {
					content: '';
					display: inline-block;
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33341 5.00008H1.66675V16.6667C1.66675 17.5834 2.41675 18.3334 3.33341 18.3334H15.0001V16.6667H3.33341V5.00008ZM16.6667 1.66675H6.66675C5.75008 1.66675 5.00008 2.41675 5.00008 3.33341V13.3334C5.00008 14.2501 5.75008 15.0001 6.66675 15.0001H16.6667C17.5834 15.0001 18.3334 14.2501 18.3334 13.3334V3.33341C18.3334 2.41675 17.5834 1.66675 16.6667 1.66675ZM15.8334 9.16675H7.50008V7.50008H15.8334V9.16675ZM12.5001 12.5001H7.50008V10.8334H12.5001V12.5001ZM15.8334 5.83342H7.50008V4.16675H15.8334V5.83342Z' fill='%239EA7B0'/%3E%3C/svg%3E");
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	&-sidebar-inner {
		padding: 20px 15px;
	}

	&-breadcrumbs {
		display: flex;
		flex-direction: row;
		font-size: 12px;
		a {
			color: $accent-color2;
			&:hover {
				color: $accent-color;
			}
		}
		span {
			margin: 0 9px;
		}
	}

	p { margin-bottom: 20px }

	.creative-list {
		list-style-type: none;
		counter-reset: num;

		li { margin-bottom: 20px; }
		p { margin: 10px 0 20px 60px; }

		.creative-list__title,
		h2,h3,h4,h5,h6 {
			color: $heading-color;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			b,strong { font-weight: 700; }
			&:before {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				margin-right: 20px;
				counter-increment: num;
				content: ""counter(num)"";
				border-radius: 100%;
				font-weight: bold;
				font-size: 20px;
				line-height: 1;
				background-color: $accent-color;
				color: #fff;
			}
		}
		&__content,
		figure, pre  {
			margin: 10px 0 20px 60px;
		}
	}

	&-title {
		font-weight: bold;
		font-size: 48px;
		line-height: 56px;
		margin: 66px 0 19px;
		color: $heading-color;
	}

	&-meta {
		line-height: 32px;
		margin-bottom: 45px;
		color: #5C6B79;
		span {
			color: #162B40;
		}
	}

	&-content {
		.question-title,
		.answer-title {
			color: #F5435A;
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 24px;
		}
		.answer-title {
			color: $accent-color;
		}
		.question-box:not(.answer-box) {
			background: rgba(97, 123, 229, 0.08);
			padding: 24px 20px;
			border-radius: 3px;
			margin-bottom: 52px;
		}
		a {
			color: $accent-color2;

			&:hover {
				color: $accent-color;
			}
		}
	}

	.wp-block-embed iframe {
		width: 100%;
	}

	.wp-block-embed-youtube  {
		margin-bottom: 34px;
	}

	.wp-block-code,
	pre {
		margin-bottom: 30px;
	}

	.ts-manager-help-box {
		background: rgba(97, 123, 229, 0.08);
		border-radius: 3px;
		padding: 29px 2%;
		margin: 77px 0 47px;
		display: flex;
		align-items: center;
		justify-content: center;

		&__title {
			color: #162B40;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			margin: 0 20px;
		}

		&__btn {
			display: flex;
			align-items: center;
			padding: 8px 22px;
			margin: 0 20px;
			color: #162B40;
			font-weight: bold;
			font-size: 14px;
			background: #FFFFFF;
			border: 1px solid #E4E8ED;
			border-radius: 3px;
			svg {
				margin-right: 10px;
			}
		}
	}
}

.troubleshooting-manager {
	background-color: transparent;
	background-image: linear-gradient(90deg,#fff 61%,#F9FAFB 0%);

	@media (max-width: 1440px) {
		background-image: linear-gradient(90deg, #fff 64%, #F9FAFB 0%);
	}
}

// Res
@media (max-width: 1024px) {
	.troubleshooting-manager {
		background-image: linear-gradient(90deg, #fff 66%, #F9FAFB 0%);
		&__single-article-title {
			font-size: 34px;
			line-height: 44px;
		}
		&__single-article-sidebar-inner {
			padding: 20px 0;
		}
	}
}

@media (max-width: 940px) {
	.troubleshooting-manager {
		background-image: linear-gradient(90deg, #fff 66%, #F9FAFB 0%);
		&__single-article {
			max-width: 100%;
		}
		div .ts-manager-sidebar-title {
			font-size: 24px;
		}
	}
}

@media (max-width: 768px) {
	.troubleshooting-manager {
		background: none;
		&__single-article-inner {
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
		&__single-article-container {
			width: 100%;
			padding: 36px 0;
		}
		&__single-article-sidebar-wrap {
			width: 100%;
			margin: 40px 0 0;
			.ts-manager-sidebar-title {
				padding-top: 14px;
				margin-bottom: 10px;
			}
		}
		&__single-article-sidebar {
			padding: 0 26px;
		}
		&__single-article-title {
			margin-top: 34px;
		}
		&__single-article-meta {
			margin-bottom: 25px;
		}
		.question-box:not(.answer-box) {
			margin-bottom: 30px;
		}
		.ts-manager-help-box {
			flex-direction: column;
			&__title {
				margin: 0 20px 10px;
			}
		}
		.creative-list__title,
		h2,h3,h4,h5,h6 {
			&:before {
				float: left;
			}
		}
	}
}